<%# Custom helper to display internationalized validation errors %>
<%= display_validation_errors(resource) %>

<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.resend_confirmation_instructions', default: 'Resend confirmation instructions') %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
      <div class="form-group required">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control"  %>
      </div>

      <%= f.submit t('.resend_confirmation_instructions', default: 'Resend confirmation instructions'), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
